<%
@workload = Workload.new(:project => project || @project)

%>
<% cache(@workload.cache_key) do -%>
<table class="workload">
  <thead>
    <tr>
      <th><%= l(:label_project) %></th>
    <% @workload.each_week do |week| -%>
      <th class="<%= workload_week_style(@workload.load_by_week,week) %>">
        <div class="tooltip">
          <%= "#{week.to_i}".last(2) %>
          <span class="tip workload-week-tip">
            <%= format_date(week.first_day) %> - <%= format_date(week.last_day) %>
          </span>
        </div>
      </th>
    <% end -%>
    </tr>
  </thead>
  <tbody>
  <% @workload.versions.each do |version| -%>
    <% load_weeks_real = version.load_weeks_in_workload(@workload) %>
    <% next if load_weeks_real.empty? %>
    <tr>
      <td class="version"><%= link_to_workload_version(version) %></td>
    <% @workload.each_week do |week| -%>
      <% next if load_weeks_real.include?(week) && load_weeks_real.first != week %>
      <% if load_weeks_real.include?(week) -%>
        <%= render_workload(version, week, @workload) %>
      <% else -%>
        <%= content_tag(:td, " ", workload_html_options_for(version,week,@workload)) %>
      <% end -%>
    <% end -%>
    </tr>
  <% end -%>
  </tbody>
</table>
<% end -%>

<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "workload", :plugin => :redmine_workload_calendar %>
<% end -%>
