<%
@workload = Workload.new(:project => project || @project)

%>
<table class="workload">
  <thead>
    <tr>
      <th><%= "#{l(:label_project)} - #{l(:label_version)}" %></th>
    <% @workload.each_monday do |day| -%>
      <th class="<%= workload_week_style(@workload.load_by_week,day) %>"><%= day.cweek %></th>
    <% end -%>
    </tr>
  </thead>
  <tbody>
  <% @workload.versions.each do |version| -%>
    <tr>
      <td class="version"><%= link_to_workload_version(version) %></td>
    <% @workload.each_monday do |day| -%>
      <% next if version.load_weeks.include?(day.cweek) && version.load_weeks.first != day.cweek %>
      <%= content_tag(:td, "", workload_html_options_for(version,day,@workload.weeks)) %>
    <% end -%>
    </tr>
  <% end -%>
  </tbody>
</table>

<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "workload", :plugin => :redmine_workload_calendar %>
<% end -%>
