<%
@workload = Workload.new(:project => project || @project)

%>
<% cache(@workload.cache_key) do -%>
<table class="workload">
  <thead>
    <tr>
      <th><%= l(:label_project) %> <%= l(:label_version) %></th>
    <% @workload.each_monday do |day| -%>
      <th class="<%= workload_week_style(@workload.load_by_week,day) %>">
        <div class="tooltip">
          <%= day.cweek %>
          <span class="tip workload-week-tip">
            <%= format_date(day) %> - <%= format_date(day+6) %>
          </span>
        </div>
      </th>
    <% end -%>
    </tr>
  </thead>
  <tbody>
  <% @workload.versions.each do |version| -%>
    <% load_weeks_real = version.load_weeks_in_workload(@workload) %>
    <% next if load_weeks_real.empty? %>
    <tr>
      <td class="version"><%= link_to_workload_version(version) %></td>
    <% @workload.each_monday do |day| -%>
      <% next if load_weeks_real.include?(day.cweek) && load_weeks_real.first != day.cweek %>
      <% if load_weeks_real.include?(day.cweek) -%>
        <%= content_tag(:td, content_tag(:div, workload_version_tooltip(version), :class=>"tooltip"),
                        workload_html_options_for(version,day,@workload)) %>
      <% else -%>
        <%= content_tag(:td, " ", workload_html_options_for(version,day,@workload)) %>
      <% end -%>
    <% end -%>
    </tr>
  <% end -%>
  </tbody>
</table>
<% end -%>

<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "workload", :plugin => :redmine_workload_calendar %>
<% end -%>
