<%
@workload = Workload.new(:project => project || @project)

%>
<table class="workload">
  <thead>
    <tr>
      <th>  </th>
    <% @workload.each_monday do |day| -%>
      <th class="<%= workload_week_style(@workload.load_by_week,day) %>"><%= day.cweek %></th>
    <% end -%>
    </tr>
  </thead>
  <tbody>
  <% @workload.versions.each do |version| -%>
    <tr>
      <td><%= link_to_workload_version(version) %></td>
    <% @workload.each_monday do |day| -%>
      <td class="<%= workload_css_classes_for(version,day) %>"> </td>
    <% end -%>
    </tr>
  <% end -%>
  </tbody>
</table>

<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "workload", :plugin => :redmine_workload_calendar %>
<% end -%>
